doctype html
html
  head
    block title
    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/app.css')
    block styles
  body
    nav.navbar.navbar-dark.navbar-expand-lg
      a.navbar-brand(href='/')
        img(src='/images/sellbot-white-1000.png', height='50', width='155', loading='lazy')
      ul.navbar-nav
        li.nav-item(class=(page === 'link' ? 'active' : ''))
          a.nav-link(href='/link') Poynt Link
      ul.navbar-nav
        li.nav-item(class=(page === 'collect-v2' ? 'active' : ''))
          a.nav-link(href='/collect') Poynt Collect v2
      ul.navbar-nav
        li.nav-item(class=(page === 'collect-v1' ? 'active' : ''))
          a.nav-link(href='/collect/v1') Poynt Collect v1
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='https://github.com/poynt/sellbot', target='_blank') View Source on GitHub
    main
      block body
      block scripts
