#collect-token,
#collect-nonce {
  display: none;
}

#collect-token-failed,
#collect-nonce-failed {
  display: none;
}

#collect-transaction-success,
#collect-transaction-failure,
#collect-nonce-tokenize-success,
#collect-nonce-tokenize-failure {
  display: none;
}

#collect-transaction-failure,
#collect-nonce-tokenize-failure {
  color: red;
}
